@model IEnumerable<InventoryAllocationEngine.Web.Models.Product>

@{
   ViewBag.Title = "Products";

   if (IsPost)
   {
  
   }
}

<h2 class="page-header">Products</h2>

<table class="table">
   <thead>
   <tr>
      <th>
         Description
      </th>
      <th>
         Quantity Available
      </th>
      <th>
         Pending Orders
      </th>
      <th>
         Over/(Short)
      </th>
   </tr>
   </thead>
   <tbody>

   @foreach (var product in Model)
   {

      int overShort = @product.QuantityAvailable - @product.OrderItems.Sum(oi => oi.QuantityOrdered);

      

      <tr>
         <td>
            <a href="@Url.Action("Details", new {id = product.Id})">@product.Description</a>
         </td>
         <td>
            @product.QuantityAvailable
         </td>

         <td>
            @product.OrderItems.Sum(oi => oi.QuantityOrdered) (@product.OrderItems.Count @(product.OrderItems.Count == 1 ? "order" : "orders"))
         </td>
         <td class="@(overShort < 0 ? "text-danger" : "")">            
            @(overShort < 0 ? "(" + Math.Abs(overShort) + ")" : overShort.ToString())
         </td>
      </tr>
   }

   </tbody>
</table>